.dashboardBox {
  padding-bottom: 19px;

  background: radial-gradient(
      66.32% 66.32% at 54.13% 113.95%,
      rgba(108, 38, 255, 0.2) 0%,
      rgba(242, 89, 255, 0) 100%
    ),
    linear-gradient(
      211.99deg,
      rgba(65, 157, 241, 0.2) -4.17%,
      rgba(45, 143, 234, 0) 68.7%
    ),
    radial-gradient(
      100% 100% at 28.65% 0%,
      #d5bdf5 0%,
      rgba(250, 247, 254, 0) 100%
    );
}

.dashboardBox > p:first-child {
  color: rgba(10, 11, 13, 0.6);
  margin-bottom: 6px;
  text-transform: uppercase;
  font-size: 18px;

  padding: 10px 20px 0px 10px;
}

.dashboardBox > ul {
  display: flex;
}

.dashboardBox > ul > li {
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 20px;
  margin: 5px;
}
.selected {
  background: #6d5bd6 !important;
  color: white;
}

.dashboard {
  display: flex;
}

.totalBalance {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.totalBalance > p:first-child {
  color: rgba(10, 11, 13, 0.6);
  margin-bottom: 6px;
  text-transform: uppercase;
  font-size: 18px;
}
.totalBalance > p:nth-child(2) {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.01rem;
  color: #0a0b0d;
  margin-bottom: 16px;
}

.balanceTable {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.balanceTable > p {
  color: rgba(10, 11, 13, 0.6);
  margin-bottom: 6px;
  text-transform: uppercase;
  font-size: 18px;
}

.balanceTable > div {
  display: flex;
}
.balanceTable p {
  padding: 2px;
  min-width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.balanceTable > div:nth-child(2) {
  border-bottom: 1px solid black;
}
